.footer{
    background-color: rgba(78, 93, 94, 0.5);
    border: 1px solid #ccc;
    width: 100%; 
    margin: 0 auto;
    text-align: left; 
}
.title{
    background-color: rgba(105, 44, 9, 0.5);
    border: 2px solid #ccc;
    width: 100%; 
    margin: 0 auto;
    text-align: left; 
}
img {
    max-width: 20%;
    height: auto;
    margin: 0 auto;
    align-items: center;
  }